<html>
    <head>
        <title>Create Memories</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/338/338337.png">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
     
    </head>

    <body class="bg-slate-300">
      <!-- This example requires Tailwind CSS v2.0+ -->
      <nav class="bg-gray-800 shadow-lg fixed inset-x-0">
        <div class="max-w-6xl mx-auto px-4">
          <div class="flex justify-between">
            <div class="flex space-x-7">
              <div>
                <!-- Website Logo -->
                <a href="#" class="flex items-center py-4 px-2">
                  <img src="https://cdn-icons-png.flaticon.com/512/338/338337.png" alt="Logo" class="h-8 w-8 mr-2">
                  <span class="font-semibold text-gray-300 text-lg">Memoritica</span>
                </a>
              </div>
              <!-- Primary Navbar items -->
              <div class="hidden md:flex items-center flex space-x-6 justify-center">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium">Create Memories</a>
                <a href="/memories" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">View Memories</a>
                 </div>
            </div>
            <!-- Secondary Navbar items -->
            <div class="hidden md:flex items-center space-x-3 ">
              <div>
                <button type="button" class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                  <span class="sr-only">Open user menu</span>
                  <img class="h-8 w-8 rounded-full"  src="https://ravi-memories.s3.ap-northeast-1.amazonaws.com/ab1d56a967473ecec9451f0b1a150f80" alt="">
                  <p class="text-white px-4 pt-1">Ravichandran B</p>
                </button>
                
              </div>
            </div>
            <!-- Mobile menu button -->
            <div class="md:hidden flex items-center">
              <button class="outline-none mobile-menu-button">
              <svg class=" w-6 h-6 text-gray-500 hover:text-green-500 "
                x-show="!showMenu"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </button>
            </div>
          </div>
        </div>
        <!-- mobile menu -->
        <div class="hidden mobile-menu">
          <ul class="">
            <li class="active"><a href="/home" class="block text-sm px-2 py-4 text-gray-300 font-semibold">Create Memories</a></li>
            <li><a href="/memories" class="block text-sm px-2 py-4 text-gray-300 transition duration-300">View memories</a></li>
           <!-- <li><img class="h-8 w-8 rounded-full"  src="https://ravi-memories.s3.ap-northeast-1.amazonaws.com/ab1d56a967473ecec9451f0b1a150f80" alt=""><span class="text-white px-4 pt-1">Ravichandran B</span></li> -->
         <li> <a href="#" class="flex items-center py-4 px-2">
          <img src="https://ravi-memories.s3.ap-northeast-1.amazonaws.com/ab1d56a967473ecec9451f0b1a150f80" alt="Logo" class="h-8 w-8 mr-2 rounded-full">
          <span class="font-semibold text-gray-300 text-lg">Ravichandran B</span></a>
        </a></li>
          </ul>

        </div>
        <script>
          const btn = document.querySelector("button.mobile-menu-button");
          const menu = document.querySelector(".mobile-menu");
  
          btn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
          });
        </script>
      </nav>
  
<div class="flex justify-center ">
    <div class="md:mt-24 mt-16 ml-4 mr-4 md:ml-0 md:mr-0 md:m-8 md:w-1/2 sm:w-full">
      <!-- <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-lg font-medium leading-6 text-gray-900">Profile</h3>
          <p class="mt-1 text-sm text-gray-600">This information will be displayed publicly so be careful what you share.</p>
        </div>
      </div> -->
      <div class="mt-5 md:mt-0 md:col-span-2">
        <form action="/images" method="post" enctype="multipart/form-data">
          <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="px-4 py-5 bg-white space-y-6">
              <div >
                <div >
                  <label for="company-website" class="block text-sm font-medium text-gray-700"> Title </label>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    
                    <input type="text" name="title" id="company-website"  class="appearance-none rounded-none  block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
                  </div>
                </div>
              </div>
  
              <div>
                <label for="about" class="block text-sm font-medium text-gray-700"> Description </label>
                <div class="mt-1">
                  <textarea id="about" name="description" rows="3" class="appearance-none rounded-none block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"></textarea>
                </div>
                
              </div>
  
              
  
              <div>
                <label class="block text-sm font-medium text-gray-700"> Cover photo</label>
                <div class=" h-40 mt-4 rounded-lg border-dashed border-2 border-gray-200 bg-white flex justify-center items-center hover:cursor-pointer">
                    
                    <div class="absolute">
                        <div class="flex flex-col items-center "> <i class="fa fa-cloud-upload fa-3x text-gray-200"></i> <span class="block text-gray-400 font-normal"><svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                            <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                          </svg></span> <span class="block text-gray-400 font-normal"></span> <span class="block text-blue-400 font-normal">Browse files</span> <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p></div>
                    </div> <input type="file" class="h-full w-full opacity-0" name="image">
                    
                </div>
                <div class="text-center mt-2 mb-2">
                    <span class="text-gray-400 text-xs "> (After uploading image hover over the Browse files to see the uploaded image name)</span>  
                </div>
                <div class="mt-6">
                  <label for="about" class="block text-sm font-medium text-gray-700"> Hashtags </label>
                  <select name="hashtag" class="mt-1 appearance-none rounded-none  block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
                    <option value="Select" default selected>Select from the list</option>
                    <option value="Favorites">Favorites</option>
                    <option value="Photography">Photography</option>
                    <option value="Travel">Travel</option>
                    <option value="Inspiration">Inspiration</option>
                    <option value="Sweet Moments">Sweet Moments</option>
                    <option value="Motivation">Motivation</option>
                  </select>
                  <br>
                  
                </div>
              </div>
            </div>
            
            <div class="px-4 pb-6 bg-gray-50 text-center sm:px-6">
              <button type="submit" class="inline-flex justify-center w-48 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
              <br>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
                <!-- <script>
             Toastify({
  text: "Logged in successfully",
  duration: 3000,
  destination: "https://github.com/apvarun/toastify-js",
  newWindow: true,
  close: true,
  gravity: "top", // `top` or `bottom`
  position: "right", // `left`, `center` or `right`
  stopOnFocus: true, // Prevents dismissing of toast on hover
  style: {
    background: "linear-gradient(to right, #00b09b, #96c93d)",
  },
  onClick: function(){} // Callback after click
}).showToast();
        </script> -->
    </body>
</html>